.pageContainer{
    position: relative;
    min-height: 100vh;
}

.footerContainer{
    background-color: #f0f0f0;
    position: absolute;
    width: 100%;
}

.logosContainer {
    float: right;
}

.socialMediaLogos{
    width: 20px;
    height: 20px;
}
