.headerContainer{
    padding: 60px;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: black;
}

#nlrLogo {
    width: 225px;
    height: 225px;
}

.linkContainer{
    float: right;
}